<h1>Thank you!</h1>
<p>Article has been created!</p>
<!-- это представление можно удалить так как в контроллере мы сделали редирект --Ю
<!--два варианта написания ссылки на страницу.
	рекомендуется ползоватся вторым способом-->
<!--<a href="/articles">Show all articles</a>-->

<%= link_to 'Show all articles!', articles_path %>